body {
    text-align: center; ;
    margin: 0px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: medium;
    font-family: 'Poppins',sans-serif;
    line-height: 1.2cm;
    background-color: #000;

}
.header {
  display:block;

}
.centertext {
    display:block;
    font-size: 1.4em;
}
.descriptiontext {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.submit-button {
    display: block;
    width: 90%;
    background: rgb(23, 165, 47);
    border-radius: 3px;

}
.principalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
    padding: 45px 48px;
    background-color: #19191F;
    border-radius: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.favoriteFuture{
    margin-top: 10px;
}
.submit-button{
    background-color: #194284;
    width: 600px;
    height: 40px;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
    margin-top: 20px;
    border-style: outset;
    border-color: #06275ebd;
}
#title{
    color: #508ae7;
}
#name {
    background-color: white;
    width: 200px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
}
#email{
    background-color: white;
    width: 200px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
}
#number{
    background-color: white;
    width: 200px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
}

#dropdown{
    background-color: white;
    width: 200px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    margin-top: 20px;
    
    
}
#sendInfo{
    width: 200px;
    height: 100px;
    border-radius: 15px;

}
#submit-button{
    background-color: #194284;
    width: 200px;
    height: 40px;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
    margin-top: 20px;
    border-style: outset;
    border-color: #06275ebd;
}

@media (min-width: 400px){
    #title{
        color: #508ae7;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .centertext {
        display:block;
        font-size: 2em;
    }

    #name {
        background-color: white;
        width: 400px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    #email{
        background-color: white;
        width: 400px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    #number{
        background-color: white;
        width: 400px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    
    #dropdown{
        background-color: white;
        width: 400px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        margin-top: 20px;
        
        
    }
    #sendInfo{
        width: 400px;
        height: 200px;
        border-radius: 15px;
    }
    #submit-button{
        background-color: #194284;
        width: 400px;
        height: 40px;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
        margin-top: 20px;
        border-style: outset;
        border-color: #06275ebd;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .centertext {
        display:block;
        font-size: 2em;
    }

}
@media (min-width: 900px){
    #title{
        color: #508ae7;
    }
    .container{
        display: flex;
        
       
    }
    .inputContainer {
    
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .centertext {
        display:block;
        font-size: 2em;
    }

    #name {
        background-color: white;
        width: 600px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    #email{
        background-color: white;
        width: 600px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    #number{
        background-color: white;
        width: 600px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    
    #dropdown{
        background-color: white;
        width: 600px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        margin-top: 20px;
        
        
    }
    #sendInfo{
        width: 600px;
        height: 200px;
        border-radius: 15px;
    }
    #submit-button{
        background-color: #194284;
        width: 600px;
        height: 40px;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
        margin-top: 20px;
        border-style: outset;
        border-color: #06275ebd;
    }
}
    
  