<meta name="viewport" content="width=device-width, initial-scale=1.0">
body {
    text-align: center; ;
    margin: 0px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: medium;
    font-family: 'Poppins',sans-serif;
    line-height: 1.5cm;
    background-color: #000;
;
}
.header {
  display:block;

}
.centertext {
    display:block;
    font-size: 2em;
}
.descriptiontext {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.submit-button {
    display: block;
    width: 90%;
    background: rgb(23, 165, 47);
    border-radius: 3px;

}
.principalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
    padding: 45px 48px;
    background-color: #19191F;
    border-radius: 15px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.favoriteFuture{
    margin-top: 10px;
}
.submit-button{
    background-color: #194284;
    width: 600px;
    height: 40px;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
    margin-top: 20px;
    border-style: outset;
    border-color: #06275ebd;
}
#title{
    color: #508ae7;
}
#name {
    background-color: white;
    width: 600px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
}
#email{
    background-color: white;
    width: 600px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
}
#number{
    background-color: white;
    width: 600px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    padding: 4px;
}

#dropdown{
    background-color: white;
    width: 600px;
    height: 40px ;
    border: 2px;
    border-radius: 15px;
    margin-top: 20px;
    
    
}
#sendInfo{
    width: 580px;
    height: 200px;
    border-radius: 15px;
}

@media (max-width: 600px)  {
    #name {
        background-color: white;
        width: 200px;
        height: 40px ;
        border: 2px;
        border-radius: 15px;
        padding: 4px;
    }
    
   
  }
  
    
  